<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PYALauncherApps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MaterialSkinExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PYALauncherApps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <PYALauncherApps.Properties.Settings>
            <setting name="codigoTema" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="estiloTema" serializeAs="String">
                <value>True</value>
            </setting>
        </PYALauncherApps.Properties.Settings>
        <MaterialSkinExample.Properties.Settings>
            <setting name="codigoTema" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="estiloTema" serializeAs="String">
                <value>True</value>
            </setting>
        </MaterialSkinExample.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PYALauncherApps.Properties.Settings>
            <setting name="usuario" serializeAs="String">
                <value>administrador</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>InsodEp&amp;a8094</value>
            </setting>
        </PYALauncherApps.Properties.Settings>
    </applicationSettings>
</configuration>
